.numberButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80px;
}

.button {
  width: 20px;
  margin: 2px;
}

.numberButton {
  width: 20px;
  margin: 2px;
}

.functionButtons {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 82px;
  width: auto;
}

#display {
  width: 150px;
  height: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: right;
  font-family: digital;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.buttons {
  display: flex;
  text-align: left;

}

@font-face {
  font-family: digital;
  src: url('digital-7.ttf');
}

#equals {
  width: auto;
}
